
body {
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

.chatbox {
  display: inline-flex;
  margin: auto;
  text-align: center;
}

/*hidden by default*/
.chat-popup {
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width:275px;
  text-align:left;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #98cbd7;
}

.form-container textarea {
  width: 225px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

.form-container .btn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

ul {
  list-style: none;
  padding:0;
}

p {
  text-align:right;
  color:white;
}

.btn.cancel {
  background-color:black;
}
